

@using MVC_WebQuanLyQuanCafe.Models
@model List<MVC_WebQuanLyQuanCafe.Models.LOAITHUCDON>

@foreach (var loaiThucDon in Model)
{
    <li class="nav-item">
        <a href="@Url.Action("LayThucDonTheoLoai","ThucDon", new { @idCategory = loaiThucDon.MALOAITD })" class="nav-link">
            <img class="far fa-circle nav-icon" src="~/dist/img/LoaiThucDon/@loaiThucDon.HinhAnh" />
            <p>@loaiThucDon.TENLOAITD</p>
        </a>
    </li>
}